/*
.landingpage_main_container
{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    margin-top: -21px;
    height: 105vh;
    align-items: center;
}
.startlearn-btns-container
{
    width: 30vw;
    height: 10vh;
    border: 0px;
    margin-top: 50px;
    margin-left: 480px;
    padding: 10px;
    display: flex;
    gap: 45px;
}

.get-started-btn
{
    color: white;
    padding: 20px;
    background-color: purple;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
}

.learn-more-btn
{
    color: whitesmoke;
    padding: 20px;
    background-color: #333;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
}
*/

.landing-page {
    text-align: center;
  }
  
  header {
    padding: 50px 0;
  }
  
  header h1 {
    font-size: 3em;
    color: #333;
  }
  
  header p {
    font-size: 1.5em;
    color: #666;
  }
  
  .featured-books {
    padding: 50px 0;
  }
  
  .featured-books h2 {
    font-size: 2.5em;
    color: #333;
  }
  
  .book-container {
    display: flex;
    justify-content: space-around;
  }
  
  .book {
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    -webkit-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.75);
  }
  
  .book:hover {
    transform: scale(1.1);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }

  .book img
  {
    width: 200px;
    
  }



