.cards-container
{
    width: 20vw;
    height: 20vh;
    border: 3px solid white;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
}

.card-main-container
{
    width: 50vw;
    border: 3px solid white;
    height: 50vh;
}
