

.booksPage {
    padding: 20px;
  }
  
  .booksContainer {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    width: 100%;
  }
  
  .bookCard {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 200px;
  }
  
  .bookCard h2 {
    margin-top: 0;
  }
  
  .buyButton {
    background-color: purple;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buyButton:hover {
    background-color: purple;
  }

  .booksdivadmin{
    width:400px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color:black;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.75);
box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.75);
  }

  .booksdivadmin img{
    width: 350px;
    height: 300px;
    border-radius: 10px;
  }

  .booksdivadmin h2{
    cursor: pointer;
  }

  .admin-book-delete-btn
  {
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
    background-color: red;
    color: white;
    width: 15%;
  }


  